# .gitignore

# Python cache and environment files
__pycache__/
venv/
*.pyc
env/

# IDE and OS specific files
.vscode/
.idea/
*.DS_Store

# --- DATA, MODELS, & IMAGES ---
data/raw/*
data/processed/*
data/homer_load_profiles
data/homer_sim_results
models/*
images/*

#Ignore database files
*.db

!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!images/.gitkeep

# The app needs these files to run.
!models/pv_size_predictor.joblib
!models/npc_predictor.joblib