# .gitignore

# Python cache and environment files
__pycache__/
venv/
*.pyc
env/

# IDE and OS specific files
.vscode/
.idea/
*.DS_Store

# --- DATA, MODELS, & IMAGES ---
data/raw/*
data/processed/*
data/homer_load_profiles
data/homer_sim_results
models/*
images/*


!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!images/.gitkeep

